# API URL
NEXT_PUBLIC_API_URL=http://localhost:3000

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3001
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3002

# Feature flags
NEXT_PUBLIC_ENABLE_BIA=true
NEXT_PUBLIC_ENABLE_MEMBERSHIP=true

# Analytics (optional)
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_MIXPANEL_TOKEN=
